.signup {
    max-width: 400px;
    margin: 40px auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Book Antiqua',serif;
  }
  
  .signup h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
  }
  
  .signup input[type="email"],
  .signup input[type="number"],
  .signup input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 50px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .signup button {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin-left: 50px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup input[type="submit"]:hover {
    background-color: #555; 
  }
  
  .signup p {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup .signup-title {
    color: #333;
    text-decoration: none;
  }
  
  .signup .signup-title:hover {
    text-decoration: underline;
  }
  