.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-family: 'Book Antiqua', serif;
}

.navbar__title {
  font-size: 1.5rem;
}

.navbar__links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  margin-left: 20px;
  position: relative; /* Needed for positioning the dropdown */
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-family: 'Book Antiqua', serif;
  font-size: 18px;
}

/* Adjust hover effect for Profile link */
.navbar__link.profile:hover {
  background-color: transparent;
}

.navbar__button {
  background-color: transparent;
  padding: 2px;
  font-family: 'Book Antiqua', serif;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar__button:hover {
  text-decoration: underline;
}

.navbar__select {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-65%); 
  background-color: #444;
  padding: 10px 0; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap; 
  list-style: none; 
  margin: 0;
}

.navbar__dropdown-link,
.navbar__dropdown-button {
  display: block;
  width: 100%; 
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Book Antiqua', serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

.navbar__dropdown-link:hover,
.navbar__dropdown-button:hover {
  background-color: #555;
  text-decoration: none; 
}

.navbar__item:hover .navbar__dropdown {
  display: block; 
}

@media (max-width: 768px) {
  .navbar__links {
    flex-direction: column;
  }

  .navbar__links li {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .navbar__dropdown {
    left: 0;
    transform: none;
    width: 100%;
  }
}
