.signin {
    max-width: 400px;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'Book Antiqua',serif;
  }
  
  .signin h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
 
  .signin input[type="email"],input[type="password"] {
    width: 300px;
    margin-left: 50px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .signin button[type="submit"] {
    width: 300px;
    margin-left: 50px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin button[type="submit"]:hover {
    background-color: #333;
  }

  .signin p {
    text-align: center;
    margin-top: 20px;
  }
  
  .signin .signin-title {
    color: #333;
    text-decoration: none;
  }
  
  .signin .signin-title:hover {
    text-decoration: underline;
  }